<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản lý chi dùng khác</title>
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/pond_other_spends.css}">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
<div class="main">
    <div th:replace="~{/ponds/fragment.html :: header-fragment}"></div>
    <div>
        <div th:replace="~{/ponds/fragment.html :: nav-fragment}"></div>
        <div class="content">
            <table class="table-zone">
                <thead>
                <tr>
                    <th>Mã ao</th>
                    <th>Tên ao</th>
                    <th>Diện tích</th>
                    <th>Ngày tạo</th>
                    <th>Mực nước</th>
                    <th>Loại</th>
                    <th>Tình trang</th>
                    <th>Email TK quản lý</th>
                    <th colspan="3" >Tác vụ</th>
                </tr>
                </thead>
            </table>
            <div class="float-tab">
                <a th:href="@{'/pond/id=' + ${pond.id} + '/product_spends'}" class="" id="product-spends-tab">SỬ DỤNG SẢN PHẨM</a>
                <a th:href="@{'/pond/id=' + ${pond.id} + '/other_spends'}" class="" id="other-spends-tab">CHI DÙNG KHÁC</a>
                <a th:href="@{'/pond/id=' + ${pond.id} + '/environment'}" class="" id="environment-tab">MÔI TRƯỜNG</a>
            </div>
            <button class="float" id="show-modal-create-btn"></button>
        </div>
    </div>
    <label for="pond-contain-id"></label><input id="pond-contain-id" th:value="${pond.id}" hidden/>
    <label for="zone-contain-id"></label><input id="zone-contain-id" th:value="${pond.zone.getId()}" hidden/>
    <div th:replace="~{/ponds/new_pond_fragment.html :: new-pond-fragment}"></div>
    <div th:replace="~{/ponds/update_pond_fragment.html :: update-pond-fragment}"></div>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script th:src="@{/js/common.js}"></script>
<script th:src="@{/js/pond_other_spends.js}"></script>
</html>